.big-screen-text {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: #ffe94a;
    font-weight: 600;
    font-size: 30px;
    display: none;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 530px) {
    .big-screen-text {
        display: flex;
    }
}
